<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>To-Do-App</title>
</head>

<body>
    <wicket:extend>
        <div class="container m-4">
            <div class="card card-body">
                <table class="table table-hover">
                    <tbody>
                        <tr wicket:id="selectedTaskViewList">
                            <td>
                                <div class="card shadow-lg mb-3">
                                    <div class="card-header mt-1">
                                        <h4>
                                            # <span wicket:id="id">ID</span>  <span wicket:id="task">Task</span>
                                        </h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <h6>
                                                    <span class="fw-bold">Assigned To: </span> 
                                                    <span wicket:id="empName">Employee</span>
                                                </h6>
                                            </div>
                                            <div class="col text-center">
                                                <h6>
                                                    <span class="fw-bold">Building Name: </span> 
                                                    <span wicket:id="buildingName">Building</span>
                                                </h6>
                                            </div>
                                            <div class="col text-end">
                                                <h6>
                                                    <span class="fw-bold">Status: </span> 
                                                    <span wicket:id="status">Status</span>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <h6>
                                                    <span class="fw-bold">Created By: </span> 
                                                    <span wicket:id="createdBy">createdBy</span>
                                                </h6>
                                            </div>
                                            <div class="col">
                                                <h6>
                                                    <span class="fw-bold">Created On: </span> 
                                                    <span wicket:id="createdOn">createdOn</span>
                                                </h6>
                                            </div>
                                            <div class="col text-end">
                                                <h6>
                                                    <span class="fw-bold">Updated By: </span> 
                                                    <span wicket:id="updatedBy">updatedBy</span>
                                                </h6>
                                            </div>
                                            <div class="col text-end">
                                                <h6>
                                                    <span class="fw-bold">Updated On: </span> 
                                                    <span wicket:id="updatedOn">updatedOn</span>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button wicket:id="backToViewAllTasks" class="btn btn-warning">Back To View All Tasks</button>
            </div>
        </div>
    </wicket:extend>
</body>

</html>