<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>To-Do-App</title>
</head>

<body>
    <wicket:extend>
        <div class="container m-4">
            <div class="card card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Task</th>
                            <th>Assigned To</th>
                            <th>Building</th>
                            <th>Status</th>
                            <th>Created By</th>
                            <th>Created On</th>
                            <th>Updated By</th>
                            <th>Updated On</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr wicket:id="selectedTaskViewList">
                            <td wicket:id="id">ID</td>
                            <td wicket:id="task">Task</td>
                            <td wicket:id="empName">Employee</td>
                            <td wicket:id="buildingName">Building</td>
                            <td wicket:id="status">Status</td>
                            <td wicket:id="createdBy">Created by</td>
                            <td wicket:id="createdOn">Created by</td>
                            <td wicket:id="updatedBy">Created by</td>
                            <td wicket:id="updatedOn">Created by</td>
                        </tr>
                    </tbody>
                </table>
                <button wicket:id="backToViewAllTasks" class="btn btn-warning">Back To View All Tasks</button>
            </div>
        </div>
    </wicket:extend>
</body>

</html>