<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>To-Do-App</title>
</head>

<body>
    <wicket:extend>
        <div class="container card shadow p-2 rounded text-center mt-3">
            <div class="row">
                <div class="d-grid gap-2 col-6 mx-auto mt-3">
                    <!-- Add new Task starts -->
                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#addBuildingModal">
                        Create New Task
                    </button>

                    <div class="modal fade" id="addBuildingModal" tabindex="-1" aria-labelledby="addBuildingModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addBuildingModalLabel">Create New Task</h5>
                                    <button type="button" class="btn btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form class="form" wicket:id="createTask">
                                        <div class="input-group  mb-3">
                                            <span class="input-group-text">Task</span>
                                            <input wicket:id="task" class="form-control" required type="text">
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Assign To</span>
                                            <select class="form-select" wicket:id="empName"></select>
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Building Name</span>
                                            <select class="form-select" wicket:id="buildingName" required></select>
                                        </div>
                                        <div class="mb-3">
                                            <input type="submit" class="d-grid gap-2 col-6 mx-auto btn btn-success"
                                                value="Create New Task">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add new Task ends -->
                </div>
            </div>
            <form class="mt-3" wicket:id="form">
                <div class="row">
                    <h3 class="text-danger" wicket:id="viewPageMsg"></h3>
                </div>
                <div class="row">
                    <div class="d-grid col-4 mb-3">
                        <button wicket:id="viewTaskButton" class="btn btn-primary">View Task</button>
                    </div>
                    <div class="d-grid col-4 mb-3">
                        <button wicket:id="editTaskButton" class="btn btn-warning">Edit Task</button>
                    </div>
                    <div class="d-grid col-4 mb-3">
                        <button wicket:id="deleteTaskButton" class="btn btn-danger">Delete Task</button>
                    </div>
                </div>
                <table class="table table-hover mt-4">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Task</th>
                            <th>Assigned To</th>
                            <th>Building</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr wicket:id="todoList">
                            <td><input class="form-check-input" type="checkbox" wicket:id="selected" /></td>
                            <td wicket:id="id">ID</td>
                            <td wicket:id="task">Task</td>
                            <td wicket:id="empName">Employee</td>
                            <td wicket:id="buildingName">Building</td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </wicket:extend>
</body>

</html>