<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>To-Do-App</title>
</head>

<body>
    <wicket:extend>
        <div class="container mb-3">
            <form wicket:id="form">
                <div class="col-4 mb-3">
                    <button wicket:id="deleteButton" class="btn btn-danger">Delete Task</button>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Task</th>
                            <th>Assigned To</th>
                            <th>Building</th>
                            <!-- <th>Status</th>
                            <th>Created By</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr wicket:id="todoList">
                            <td><input type="checkbox" wicket:id="selected"/></td>
                            <td wicket:id="id">ID</td>
                            <td wicket:id="task">Task</td>
                            <td wicket:id="empName">Employee</td>
                            <td wicket:id="buildingName">Building</td>
                            <!-- <td wicket:id="status">Status</td>
                            <td wicket:id="createdBy">Created by</td> -->
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </wicket:extend>
</body>

</html>